qass.json
[{"id":"9ce4b13a.6e702","type":"http in","z":"d4727fd9.3f988","name":"","url":"/water","method":"post","upload":false,"swaggerDoc":"","x":280,"y":240,"wires":[["e9fa7cbd.95e5e"]]},{"id":"37b83c95.279f14","type":"mqtt out","z":"d4727fd9.3f988","name":"water","topic":"/water","qos":"","retain":"","broker":"fa753b43.0ab468","x":620,"y":260,"wires":[]},{"id":"e9fa7cbd.95e5e","type":"function","z":"d4727fd9.3f988","name":"","func":"if\n(msg.payload.event[0].massage.text == \"00\")\n{msg.payload = \"water\";}\nelse if\n(msg.payload.event[0].massage.text == \"01\")\n{msg.payload = \"pump\";}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["37b83c95.279f14","cf88a9c2.86e258"]]},{"id":"cf88a9c2.86e258","type":"debug","z":"d4727fd9.3f988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"fa753b43.0ab468","type":"mqtt-broker","z":"","name":"","broker":"m16.cloudmqtt.com","port":"13165","tls":"7442bea8.70c94","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7442bea8.70c94","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]